* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>*,
main>* {
    /* For development purposes only */
    border: 1px solid red;
}


body {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

body>* {
    width: 100%;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    padding: 15px;
}

li {
    list-style-type: none;
}

/* Sidebar */
aside {
    padding-left: 24px;
}

aside #add-task {
    margin: 24px 0;
    font-size: 1.1rem;
}

aside li {
    padding-top: 8px;
}

aside h3 {
    font-size: 1.4rem;

}

aside .project-btn {
    font-weight: 500;
    font-size: 1.1rem;
    width: 100%;
    text-align: start;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

    padding: 6px 12px;
}

aside .project-btn:hover {
    background-color: rgba(150, 150, 150, 0.1);
}