* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>*,
main>* {
    /* For development purposes only */
    border: 1px solid red;
}


body {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;

    --background-color: #ffffff;
}

body>* {
    width: 100%;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    padding: 15px;
}

li {
    list-style-type: none;
}

/* Sidebar */
aside {
    padding-left: 24px;
}

aside #add-task {
    margin: 24px 0;
    font-size: 1.1rem;
}

aside li {
    padding-top: 8px;
}

aside h3 {
    font-size: 1.4rem;

}

aside .project-btn {
    font-weight: 500;
    font-size: 1.1rem;
    width: 100%;
    text-align: start;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

    padding: 6px 12px;
}

aside .project-btn:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

/* Main */
main {
    position: relative;
}

#section-1 {
    display: flex;
}

div.todo-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;

    padding: 8px 12px;
    margin: 12px 0;
    width: 350px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-radius: 6px;
}

div.todo-item.priority-high {
    border-color: red;
}

div.todo-item.priority-medium {
    border-color: yellow;
}

.todo-isComplete {
    height: 1em;
    width: 1em;
    cursor: pointer;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: var(--background-color);
}

.todo-isComplete:hover {
    background-color: rgba(150, 150, 150, 0.3);
}


.todo-title {
    margin-right: 24px;
}

.todo-dueDate {
    font-size: 0.9rem;
    font-style: italic;
}

.form-container {
    position: absolute;
    top: 24px;
    left: 8px;

    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 48px 12px 12px;
}

.btn {
    padding: 8px 12px;
    appearance: none;
    background: none;
    border: 1px solid rgba(150, 150, 150, 0.5);
}

#close-form {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#new-task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    div {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
    }

    input,
    select {
        width: 175px;
        appearance: none;
        background: none;
        border: 1px solid rgba(150, 150, 150, 0.5);
    }

    button {
        margin-top: 8px;
        align-self: flex-end;
    }
}

.hidden {
    display: none;
}