* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;

    --background-color: #ffffff;
    --text-color: #000000;

    background-color: var(--background-color);
    color: var(--text-color);
}

body>* {
    width: 100%;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    padding: 15px;
}

li {
    list-style-type: none;
}

/* Sidebar */
aside {
    min-width: 200px;
    padding-left: 24px;
    border-right: 1px solid rgba(150, 150, 150, 0.3);

    background-color: var(--background-color);
}

aside #add-task {
    margin: 24px 0;
    font-size: 1.1rem;
}

aside li {
    padding-top: 8px;
}

aside h3 {
    font-size: 1.4rem;

}

aside .project-btn {
    font-weight: 500;
    font-size: 1.1rem;
    width: 100%;
    max-width: 18ch;
    overflow-wrap: break-word;
    text-align: start;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

    padding: 6px 12px;
}

aside .project-btn:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

#add-project {
    background-image: url('../src/add_circle.svg');
    background-position: center;
    background-size: cover;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 10px;
}

aside div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */
main {
    position: relative;
}

#section-1 {
    display: flex;
}

div.todo-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;

    padding: 8px 12px;
    margin: 12px 0;
    width: 350px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-radius: 6px;
}

div.todo-item.priority-high {
    border-color: red;
}

div.todo-item.priority-medium {
    border-color: yellow;
}

.todo-isComplete {
    height: 1em;
    width: 1em;
    cursor: pointer;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: var(--background-color);
}

.todo-isComplete:hover {
    background-color: rgba(150, 150, 150, 0.3);
}


.todo-title {
    margin-right: 24px;
}

.todo-dueDate {
    font-size: 0.9rem;
    font-style: italic;
}

.form-container {
    position: absolute;
    top: 24px;
    left: 8px;

    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 48px 12px 12px;
}

.btn {
    padding: 8px 12px;
    appearance: none;
    background: none;
    border: 1px solid rgba(150, 150, 150, 0.5);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#close-form {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
    font-weight: bold;
}

#new-task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.2rem;

    div {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
    }

    input {
        appearance: none;
        outline: none;
    }

    input,
    select {
        width: 175px;
        background: none;
        border: 1px solid rgba(150, 150, 150, 0.5);
        padding: 4px;
    }

    select {
        cursor: pointer;
    }

    input:focus {
        border: 2px solid blue;
    }

    button {
        margin-top: 8px;
        align-self: flex-end;
    }
}

.hidden {
    display: none;
}